/* Global Style */
* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  color: #005fac;
  font-weight: 600;
  font-size: 20px;
  padding: 20px;
  border: 0;
  background: #ffff;
  max-height: 60px;
  border-radius: 5px;
}

.btn-primary:hover
{

  cursor: pointer;
}
.section-title {
  color: #151414;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 24px;
}

.section-description {
  color: #444343;
  margin-bottom: 16px;
}
/* header Styles */

.header {
  background-image: url("../images/banner/banner3.png");
  background-size: cover;
  height: 100vh;
  position: relative;
  margin-bottom: 100px;
}
/* banners styles */
.banner {
  max-width: 525px;
  height: 228px;
  position: absolute;
  right: 230px;
  top: 200px;
  text-align: right;
}
.banner-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 24px;
}
.banner-description {
  color: #ffffff;
  margin-bottom: 30px;
}

/* Hero Style */
.hero-container {
  display: flex;
  width: 1072px;
  height: 723.3px;
  margin-left: 206px;
  margin-right: 332px;
  gap: 90px;
}
.hero-image img {
  width: 500px;
}
.hero-text {
  margin-top: 140px;
  position: relative;
}
.hero-text-list {
  position: absolute;
  left: -40px;
}
.hero-text-list li {
  list-style: none;
}
.hero-text-list li i {
  margin-right: 10px;
  color: rgba(15, 217, 15, 0.721);
}

/* Plan Styles */
.plan .section-title {
  text-align: center;
  margin-top: 80px;
}

.plan-container {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin-left: 230px;
  margin-top: 50px;
  margin-right: 230px;
  margin-bottom: 130px;
}

.plan-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.myplan-title {
  font-weight: 700;
  font-size: 30px;
  color: #151414;
  margin-top: 20px;
  margin-bottom: 10px;
}
.myplan-description {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #737272;
}

/* Mindset Style */

.mindset-section {
  margin: 0 auto;
  background-image: url("../images/watch.png"),
    linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%);
  border-radius: 8px;
  background-repeat: no-repeat;
  max-width: 1140px;
  background-blend-mode: soft-light;
  padding: 59px 0 0 64px;
  background-size: cover;
  height: 300px;
  overflow: hidden;
}

.mindset-section .section-title {
  color: #ffffff;
}

/* Future Styles */
.future-section {
  margin-top: 130px;
  background: #151414;
}

.future-container {
  display: flex;
  justify-content: space-between;
  gap: 300px;
  margin-left: 230px;
  margin-right: 230px;
  padding-top: 130px;
  height: 477px;;
}

.future-title {
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
  margin-bottom: 16px;
}
.future-description {
  color: #ffffff;
  margin-bottom: 20px;
}
.future img {
  margin-right: 15px;
  margin-top: 30px;
}

.subscribe-title {
  color: #ffffff;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 30px;
}
.subscribe input[type="email"]
{
  border-radius: 5px;
  border: 2px solid #ffffff;
  padding: 15px;
  width: 100%;
  background: #151414;
  margin-bottom: 15px;
}
.subscribe input[type="submit"]
{
  background: #005fac;
  color: #FFFFFF;
  padding: 18px;
  border: 0;
  font-size: 15px;
  border-radius: 5px;
  position: absolute;
}

.subscribe input[type="email"]:hover
{
  background: #ffffff;
  color: #151414;
  cursor: pointer;

}

.subscribe:hover input[type="submit"]
{
  cursor: pointer;
  padding: 25px;
 
}